doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PureHealth
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.6e625eed8f08065c5321942451418fdb.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.d21c7d76c884d6e494e2.js")
    script(type="text/javascript", src="/static/js/vendor.85e131ed3a6c610c7ea8.js")
    script(type="text/javascript", src="/static/js/app.d6c6d5ccefba64a09640.js")
