doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title healthy-stuff
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.bb69c543ae15982676863ed361499c65.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.c5751455194ac04f92fe.js")
    script(type="text/javascript", src="/static/js/vendor.1a31c711f1b763814ffa.js")
    script(type="text/javascript", src="/static/js/app.c65c90d73e7163e3374e.js")
