doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PureHealth
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.4d6f46047a3634c50c2dc4fbbbdbf7f7.css", rel="stylesheet")
  body
    block content
      h1 Loading...
    script(type="text/javascript", src="/static/js/manifest.3e5ff13e53412ef3037f.js")
    script(type="text/javascript", src="/static/js/vendor.28ba2c11d80ac33d8f64.js")
    script(type="text/javascript", src="/static/js/app.8ff88b91118c5da74c0d.js")
