doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PureHealth
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.f69b76d417158dbd2ee7027d8937c41e.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.7c59d2463773d9c22747.js")
    script(type="text/javascript", src="/static/js/vendor.db6c3f704af8ecb93cd6.js")
    script(type="text/javascript", src="/static/js/app.32f2b7fb870e110d75d7.js")
