doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title healthy-stuff
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.f69c99785a146b64b18768b0aa66b21c.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.6091a1608bcf2d2cff5d.js")
    script(type="text/javascript", src="/static/js/vendor.1689429b09a6d530b084.js")
    script(type="text/javascript", src="/static/js/app.99318995ce7c9483df02.js")
