doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PureHealth
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.38bab8943204a2975a8afc1475dcbb51.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.4ae43c70a3b566044a45.js")
    script(type="text/javascript", src="/static/js/vendor.1689429b09a6d530b084.js")
    script(type="text/javascript", src="/static/js/app.a23f933709fa0d0d9fbf.js")
