doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PureHealth
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.4205f2152c2c8167d45f3ef307004f4e.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.19ec24042a2d940a63cb.js")
    script(type="text/javascript", src="/static/js/vendor.28ba2c11d80ac33d8f64.js")
    script(type="text/javascript", src="/static/js/app.f6a32a56f9cd7ca141a7.js")
