doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title healthy-stuff
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='/static/css/app.1f5c9dd42f3d5c90329d0b135ef27f11.css', rel='stylesheet')
  body
    block content
    script(type='text/javascript', src='/static/js/manifest.25176287d88ce82c6e84.js')
    script(type='text/javascript', src='/static/js/vendor.3d7de83a761f11f983f1.js')
    script(type='text/javascript', src='/static/js/app.da67bac8de998368d0b4.js')
