doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title healthy-stuff
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.bb69c543ae15982676863ed361499c65.css", rel="stylesheet")
  body
    block content
    script(type="text/javascript", src="/static/js/manifest.63d0c1d32ba01af141bd.js")
    script(type="text/javascript", src="/static/js/vendor.1a31c711f1b763814ffa.js")
    script(type="text/javascript", src="/static/js/app.d7f24d514afcc1d8e802.js")
