doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PureHealth
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/css/app.6e625eed8f08065c5321942451418fdb.css", rel="stylesheet")
body
  block content
  script(type="text/javascript", src="/static/js/manifest.7efc3b7788c00180e99e.js")
  script(type="text/javascript", src="/static/js/vendor.3103d22d9430c7aeee83.js")
  script(type="text/javascript", src="/static/js/app.8816aec6ff4d10b32ce0.js")
