doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title healthy-stuff
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(href="/static/css/app.c47b43418ed79fcd343108822533fa8e.css", rel="stylesheet")
    body
        block content
        script(type="text/javascript", src="/static/js/manifest.fbd0c263e2866cec4369.js")
        script(type="text/javascript", src="/static/js/vendor.7a2bbb36c22825cc34f9.js")
        script(type="text/javascript", src="/static/js/app.e447c7118f56f84983ee.js")
